@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


 .about{
    min-height: 856px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
 }

 .about__header{
     margin-top: 131px;
    text-align: center;
 }

 .about__header h1{
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 0px;
 }

 .about__text{
    display: flex;
    justify-content: center;
    margin-top: 49px;
 }

 .about__text p{
     text-align: center;
     opacity: 0.8;
     color: #333333;
     font-family: 'Lato', sans-serif;    
     font-size: 20px;
     line-height: 34px;
     margin-bottom: 0px;
 }

 .about__content{
     margin-top: 65px;
     display: flex;
     flex-direction: row;
 }

 .about__elipse{
    display: flex;
    flex-direction: row;
    height: 16%;
 }


 .about__elipse i {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-family: "MaterialIcons";
    font-size: 49px;
    font-weight: 400;
    background-color: #5dbdfe;
    border-radius: 50%;
    padding: 10px;
 }

 .about__elipse--h2 h2{
    display: flex;
    flex-direction: row;
    color: #333333;
    font-family: 'Lato', sans-serif;    
    font-size: 24px;
    font-weight: 400;
    line-height: 46px;
    margin-left: 23px;
 }

 .about__elipse--h2 p{
    opacity: 0.8;
    color: #333333;
    font-family: 'Lato', sans-serif;   
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin-left: 23px;
 }

 
@media screen and (max-width:  540px) {
   div.about__header{
      margin-top: 20px;
   }
}