@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.advantages{
    min-height: 1064px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #f34235;
}

.advantages__header{
    margin-top: 112px;
    margin-bottom: 0px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2.3px;
    font-weight: 400;
    text-align: center;
}

.advantages__text{
    margin-top: 45px;
    margin-bottom: -22px;
    text-align: center;
}

.advantages__text p{
    opacity: 0.8;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    margin-top: -6px;
    letter-spacing: 2.3px;
    word-spacing: 0.3px;
}

.advantages__card{
    align-items: center;
    padding: 45px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    max-width: 10px;
    max-height: 10px;
    background: white;
    color: #f34235;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 24px;
}

.advantages__content{
    margin-top: 67px;
    margin-bottom: -22px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.advantages__slide h1{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 26px;
    text-align: center;
    margin-bottom: 0px;
}


.advantages__slide p{
    margin-top: 26px;
    /* margin-bottom: 65px; */
    text-align: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}

.advantages__slide--margin-bottom{
    margin-bottom: 129px;
}



@media screen and (max-width:  1140px) {
    div.advantages__header{
       margin-top: 90px;
    }
 }


 @media screen and (max-width:  720px) {
    div.advantages__content{
        margin-top: 40px;
        margin-bottom: 0px
    }
    div.advantages__header{
        margin-top: 60px;
     }
 }



@media screen and (max-width:  540px) {
    div.advantages__header{
       margin-top: 40px;
    }
    div.advantages__content{
        margin-top: 20px;
        margin-bottom: 0px
    }
    div.advantages__slide--margin-bottom{
        margin-bottom: 60px;
    }
 }

 
 @media screen and (max-width:  320px) {
    div.advantages__slide--margin-bottom{
        margin-bottom: 60px;
    }
 }