@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.advantages{
    min-height: 1064px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #f34235;
}

.advantages__header{
    margin-top: 129px;
    margin-bottom: 0px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}

.advantages__text{
    margin-top: 45px;
    margin-bottom: 0px;
    opacity: 0.8;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
}

.advantages__card{
    margin-top: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__eclipse{
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    background: white;
}

.advantages__eclipse span{
    color: #f34235;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 24px;
    margin-top: -7px;
    margin-left: 2px;
}

.advantages__slide h1{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    text-align: center;
    margin-bottom: 0px;
}


.advantages__slide p{
    margin-top: 36px;
    /* margin-bottom: 65px; */
    text-align: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}

.advantages__slide--margin-bottom{
    margin-bottom: 129px;
}



@media screen and (max-width:  540px) {
   div.advantages__header{
       margin-top: 20px;
   }
   div.advantages__card{
       margin-top: 0px;
   }
}