@font-face{

    font-family: 'MaterialIcons';
    
    src: url('../fonts/MaterialIcons-Regular.woff');

    src: url('../fonts/MaterialIcons-Regular.eot');

    src: url('../fonts/MaterialIcons-Regular.ttf');
    
    font-weight: normal;
    
    font-style: normal;
    
    }


