@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

/* BUCK UP */

#toTop {
    border-radius: 50%;
    opacity: 0.5;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 56px;
    right: 77px;
    cursor: pointer;
    display: none;
    color: black;
    font-size: 11px;
    z-index: 2;

    width: 51px;
    height: 51px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #5dbdfe;
}

#toTop i{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-family: "MaterialIcons";
    font-size: 50px;
    font-weight: 400;
    line-height: 46px;
    font-style: normal;
    margin-left: -3px;
}

#toTop:hover{
    background-color: #36a4ee;
    cursor: pointer;
}

/* END BUCK UP */

html {
    scroll-behavior: smooth;
    }

.header{
    min-height: 1124px;
    width: 100%;
    display: table;
    /* background: url(../video/video-bg.jpg) no-repeat center; */
    background-size: cover;
}

.header__block{
    display: table-cell;
}

.header__hr{
    width: 100%;
    background-color: #ffffff;
    opacity: 0.2;
    margin: 0;
}

.header__text{
    text-align: center;
}

.header__text h3{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 56px;
    margin-top: 157px;
    margin-bottom: 0px;
    word-spacing: 1.2px;
}

.header__text h1{
    color: #ffffff;
    font-family: 'Lato', sans-serif; 
    font-size: 112px;
    font-weight: 300;
    line-height: 120px;
    margin-bottom: 0px;
    margin-left: 6px;
    letter-spacing: 3.3px;
}

.header__form{
    margin-top: 132px;
    display: flex;
    justify-content: center;
    height: 315px;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.3);
    background-color: #eeefef;
    width: 370px;
}

.header__content{
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto; 
}

@media screen and (max-width:  1140px) {
    div.header__text h1{
        font-size: 80px;
    }
}

@media screen and (max-width:  960px) {
    div.header__form{
        width: 390px;
    }
    div.header__text h1{
        font-size: 65px;
    }
    div.header__text h3{
        font-size: 30px;
    }
}

@media screen and (max-width:  720px) {
    div.header__text h1{
        font-size: 55px;
    }
    div.header__text h3{
        font-size: 24px;
    }
}



@media screen and (max-width:  540px) {
    div.header__text h1{
        font-size: 42px;
    }
    div.header__text h3{
        font-size: 20px;
    }
    div.header__form{
        width: 330px;
    }
}



@media screen and (max-width:  320px) {
    div.header__text h1{
        font-size: 20px;
    }
    div.header__text h3{
        font-size: 12px;
    }
    div.header__form{
        background: none;
        width: 280px;
        border: none;
        box-shadow: none;
    }
}