@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


.how{
    min-height: 584px;
    background-color: #ffffff;
}

.how__video{
    margin-top: 120px;
}

.how__header{
    margin-top: 120px;
}

.how__header h1{
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 60px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.how__text{
    margin-top: -18px;
    margin-bottom: 0px;
}

.how__text span{
    color: #5dbdfe;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
}

.how__content{
    margin-top: 16px;
    margin-bottom: 60px;
}

.how__content p {
    opacity: 0.8;
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}




@media screen and (max-width:  1140px) {
    div.how__video{
       margin-top: 90px;
    }
    div.how__header{
        margin-top: 90px;
     }
 }



 @media screen and (max-width:  720px) {
    div.how__video{
        margin-top: 60px;
     }
     div.how__header{
         margin-top: 60px;
      }
 }


@media screen and (max-width:  540px) {
    div.how__video{
        margin-top: 40px;
    }
    div.how__header{
        margin-top: 20px;
    }
 }