@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.team{
    min-height: 763px;
    background-color: #ffffff;
}

.team__header{
    margin-top: 108px;
    letter-spacing: 0.8px;
}

.team__header h1{
    text-align: center;
    color: #333333;
    font-family: 'Lato', sans-serif;    
    font-size: 45px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 0px;
}

.team__content{
    margin-top: 61px;
    text-align: center;
}

.team__content img{
    width: 201px;
    height: 201px;
    text-align: center;
    cursor: pointer;
}


.team__content h1{
    color: #333333;
    font-family: 'Lato', sans-serif;   
    font-size: 24px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.team__content span{
    color: #5dbdfe;
    font-family: 'Lato', sans-serif;   
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    margin-bottom: 0px;
}

.team__content p{
    opacity: 0.8;
    color: #333333;
    font-family: 'Lato', sans-serif;  
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    margin-bottom: 127px;
}


@media screen and (max-width:  1140px) {
    div.team__header{
       margin-top: 90px;
    }
 }

 
 @media screen and (max-width:  960px) {
    div.team__header{
        margin-top: 60px;
     }
     div.team__content{
         margin-top: 30px;
     }
     div.team__content p{
         margin-bottom: 30px;
     }
     div.team__content--last{
        margin-bottom: 50px;
    }
 }
 
 @media screen and (max-width:  720px) {
    div.team__header{
        margin-top: 60px;
     }
     div.team__content{
         margin-top: 30px;
     }
     div.team__content p{
         margin-bottom: 30px;
     }
     div.team__content--last{
        margin-bottom: 50px;
    }
 }


@media screen and (max-width:  540px) {
    div.team__header{
        margin-top: 40px;
    }
    div.team__content p{
        margin-bottom: 20px;
    }
    div.team__content{
        margin-top: 20px;
    }
 }